* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#hero {
  color: white;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 674px;
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clr {
  color: #30b868;
}

header {
  background-color: #ffffff;
}
nav {
  margin-right: 120px;
  margin-left: 120px;
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  font-weight: 500;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  display: flex;
}

.btn {
  background-color: #469165;
  border: 4px;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.btn-secondary {
  background-color: transparent;
  outline: 5px;
  border-color: #ffffff;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.btn-secondary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.gap {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.hero-access {
  background-color: white;
  color: #469165;
  border-radius: 1000px;
  padding: 8px 12px 8px 12px;
  font-weight: 500;
  font-size: 16px;
}

.hero-head {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}

.hero-content p {
  margin-bottom: 16px;
  line-height: 2;
  font-size: 18px;
}

#notes {
  padding-top: 50px;
}

.notes-container {
  max-width: 1360px;
  margin: 0  auto;
  
}
.section-heading{
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 44px;
}

.section-heading h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 16px;
}
.section-heading p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}

.items {
  display: flex;
  gap: 24px;
}

.items .card {
  padding: 69.5px 24px;
  max-width: 322px;
  box-shadow: 0 0 8px 0 #0000000F;
  border-radius: 8px;
}
.items .card img {
  border: 30px solid #F95555;
  max-width: 32px;
  border-radius: 50%;
  margin-bottom: 16px; 
}
.items .card h4 {
  max-width: 274px;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.items .card p{
  max-width: 274px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#notes .items .card {
  display: grid;
  place-items: center;
  height: auto;
}

#solution {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}
.sol-con {
  display: flex;
 padding-top: 120px;
 padding-bottom: 120px;
  /* border: 1px solid red; */
}
.knowledge-png{
  max-width: 600px;
}
.sol-details {
  max-width: 700px;
  padding: 120px 0px 120px 60px;
  text-align: left;
}

.sol-head h5 {
  max-width: 700px;
  color: #469165;
  font-weight: 500;
  font-size: 16px;
 line-height: 20px;
 padding-bottom: 16px;
}
.sol-head h2 {
  max-width: 700px;
  color: #001931;
  font-weight: bold;
  font-size: 48px;
 padding-bottom: 16px;
}
.sol-head p {
  max-width: 700px;
  color: #627382;
  font-weight: 400;
  font-size: 16px;
 padding-bottom: 40px;
}
.list {
max-width: 700px;
text-align: left;
}

.list .list1 .list2 .list3 .list4 {
  max-width: 382px;
  color: #001931;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
