* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

#hero {
  color: white;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 674px;
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clr {
  color: #30b868;
}

header {
  background-color: #ffffff;
}
nav {
  margin-right: 120px;
  margin-left: 120px;
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  font-weight: 500;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

nav .menu a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  display: flex;
}

.btn {
  background-color: #469165;
  border: 4px;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.btn-secondary {
  background-color: transparent;
  outline: 5px;
  border-color: #ffffff;
  padding: 12px 16px 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.btn-secondary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.gap{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.hero-access {
  background-color: white;
  color: #469165;
  border-radius: 1000px;
  padding: 8px 12px 8px 12px;
  font-weight: 500;
  font-size: 16px;
}

.hero-head {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}

.hero-content p {
  margin-bottom: 16px;
  line-height: 2;
  font-size: 18px;
}
